<?xml version="1.0" encoding="UTF-8"?>
<robot name="h1_robot" xmlns:xacro="http://wiki.ros.org/xacro" >

  <xacro:arg name="sim_gazebo_classic" default="true" />
  <xacro:arg name="device_mode" default="8" />
  <xacro:arg name="sim_flag" default="false" />
  <xacro:arg name="system_arg" default="--path /home/robot/Work/system/robot_config --iscopy true" />
  <xacro:arg name="if_add_axisgroups" default="true" />
  <xacro:arg name="if_add_external_device" default="true" />
  <xacro:arg name="external_device_dof" default="7" />

  <xacro:include filename="$(find h1_description)/urdf/h1.urdf.xacro"/>
  <xacro:include filename="$(find h1_description)/urdf/gazebo_config.xacro"/>
  <xacro:include filename="$(find h1_description)/urdf/external_devices_config.xacro"/>
  <xacro:external_device_config if_add_external_device="$(arg if_add_external_device)"/>
  <xacro:gazebo_config sim_gazebo_classic="$(arg sim_gazebo_classic)"/>

  <xacro:include filename="$(find h1_description)/urdf/h1_ros2_control.xacro"/>
  <xacro:h1_robot_ros2_control_config 
    sim_gazebo_classic="$(arg sim_gazebo_classic)" 
    device_mode="$(arg device_mode)" 
    sim_flag="$(arg sim_flag)"
    system_arg="$(arg system_arg)" 
    if_add_axisgroups="$(arg if_add_axisgroups)"
    if_add_external_device="$(arg if_add_external_device)"
    external_device_dof="$(arg external_device_dof)"
  />

</robot>
