<?xml version="1.0" encoding="UTF-8"?>
<robot name="t1_robot" xmlns:xacro="http://wiki.ros.org/xacro" >

  <xacro:include filename="$(find h1_description)/urdf/h1.xacro"/>
  <xacro:include filename="$(find inspire_hand_description)/urdf/inspire_hand.urdf.xacro"/>
  <xacro:include filename="$(find robotiq_gripper_description)/urdf/robotiq_gripper.urdf.xacro"/>

  <joint name="gripper_connect_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <!-- <origin xyz="0 0 0.00695" rpy="0 0 0" /> -->
    <parent link="link-L7"/>
    <child link="hand_e_link"/>
  </joint>

  <joint name="hand_connect_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.57 0 -1.57" />
    <parent link="link-R7"/>
    <child link="R_hand_base_link"/>
  </joint>

</robot>
