<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="h1_robot_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="L-J1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L-J1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L-J2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L-J2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L-J3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L-J3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L-J4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L-J4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L-J5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L-J5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L-J6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L-J6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="L-J7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['L-J7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R-J1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R-J1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R-J2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R-J2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R-J3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R-J3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R-J4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R-J4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R-J5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R-J5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R-J6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R-J6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="R-J7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['R-J7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="H-J1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['H-J1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="H-J2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['H-J2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="J1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['J1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Body">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Body']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
