<?xml version="1.0" encoding="utf-8"?>
<robot name = "external_devices" xmlns:xacro="http://ros.org/wiki/xacro">

  <joint name="gripper_connect_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 1.57" />
    <!-- <origin xyz="0 0 0.00695" rpy="0 0 0" /> -->
    <parent link="link-Ltool"/>
    <child link="hand_e_link"/>
  </joint>

  <joint name="hand_connect_joint" type="fixed">
    <!-- <origin xyz="0 0 0" rpy="-1.57 0 -1.57" /> -->
    <origin xyz="0 0 0" rpy="-1.57 0 0" />
    <parent link="link-Rtool"/>
    <child link="R_hand_base_link"/>
  </joint>

</robot>