<?xml version="1.0" encoding="UTF-8"?>
<robot name="t1_robot" xmlns:xacro="http://wiki.ros.org/xacro" >

  <xacro:arg name="sim_gazebo_classic" default="false" />
  <xacro:arg name="device_mode" default="8" />
  <xacro:arg name="sim_flag" default="false" />
  <xacro:arg name="system_arg" default="--path /home/robot/Work/system/robot_config --iscopy true" />
  <xacro:arg name="if_add_axisgroups" default="false" />
  <xacro:arg name="if_add_external_device" default="false" />
  <xacro:arg name="external_device_dof" default="7" />

  <xacro:if value="$(arg sim_gazebo_classic)">
    <xacro:include filename="$(find t1_description)/urdf/gazebo/t1_gazebo.urdf.xacro"/>
    <xacro:include filename="$(find inspire_hand_description)/urdf/gazebo/inspire_hand_gazebo.urdf.xacro"/>
    <xacro:include filename="$(find robotiq_gripper_description)/urdf/gazebo/robotiq_gripper_gazebo.urdf.xacro"/>
    <xacro:include filename="$(find t1_description)/urdf/external_devices_config.xacro"/>
    <xacro:include filename="$(find t1_description)/urdf/gazebo_config.xacro"/>
  </xacro:if>
  <xacro:unless value="$(arg sim_gazebo_classic)">
    <xacro:include filename="$(find t1_description)/urdf/t1.urdf.xacro"/>
    <xacro:include filename="$(find inspire_hand_description)/urdf/inspire_hand.urdf.xacro"/>
    <xacro:include filename="$(find robotiq_gripper_description)/urdf/robotiq_gripper.urdf.xacro"/>
    <xacro:include filename="$(find t1_description)/urdf/external_devices_config.xacro"/>
  </xacro:unless>

  <xacro:include filename="$(find t1_description)/urdf/t1_robot_ros2_control.xacro"/>
  <xacro:t1_robot_ros2_control_config 
    sim_gazebo_classic="$(arg sim_gazebo_classic)" 
    device_mode="$(arg device_mode)" 
    sim_flag="$(arg sim_flag)"
    system_arg="$(arg system_arg)" 
    if_add_axisgroups="$(arg if_add_axisgroups)"
    if_add_external_device="$(arg if_add_external_device)"
    external_device_dof="$(arg external_device_dof)"
  />

</robot>
