<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="h1_robot_ros2_control_config" params="sim_gazebo_classic device_mode sim_flag system_arg if_add_axisgroups if_add_external_device external_device_dof">
    <xacro:if value="${sim_gazebo_classic}">
      <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
          <parameters>$(find hyy_hardware_driver)/config/h1_controller.yaml</parameters>
        </plugin>
      </gazebo>
      <xacro:macro name ="link_reference" params="link_name material_">
        <gazebo reference="${link_name}">
          <material>${material_}</material>
        </gazebo>
      </xacro:macro>
      <xacro:link_reference link_name="base_link" material_= "Gazebo/DarkGrey"/>
      <xacro:link_reference link_name="link-J1" material_= "Gazebo/Orange"/>
      <xacro:link_reference link_name="link-Body" material_= "Gazebo/DarkGrey"/>
      <xacro:link_reference link_name="link-L0" material_= "Gazebo/White"/>
      <xacro:link_reference link_name="link-L1" material_= "Gazebo/Grey"/>
      <xacro:link_reference link_name="link-L2" material_= "Gazebo/White"/>
      <xacro:link_reference link_name="link-L3" material_= "Gazebo/Grey"/>
      <xacro:link_reference link_name="link-L4" material_= "Gazebo/White"/>
      <xacro:link_reference link_name="link-L5" material_= "Gazebo/Grey"/>
      <xacro:link_reference link_name="link-L6" material_= "Gazebo/White"/>
      <xacro:link_reference link_name="link-L7" material_= "Gazebo/Grey"/>
      <xacro:link_reference link_name="link-R0" material_= "Gazebo/White"/>
      <xacro:link_reference link_name="link-R1" material_= "Gazebo/Grey"/>
      <xacro:link_reference link_name="link-R2" material_= "Gazebo/White"/>
      <xacro:link_reference link_name="link-R3" material_= "Gazebo/Grey"/>
      <xacro:link_reference link_name="link-R4" material_= "Gazebo/White"/>
      <xacro:link_reference link_name="link-R5" material_= "Gazebo/Grey"/>
      <xacro:link_reference link_name="link-R6" material_= "Gazebo/White"/>
      <xacro:link_reference link_name="link-R7" material_= "Gazebo/Grey"/>
      <xacro:link_reference link_name="link-H0" material_= "Gazebo/White"/>
      <xacro:link_reference link_name="link-H1" material_= "Gazebo/Grey"/>
    </xacro:if>

    <ros2_control name="h1_robot_ros2_control" type="system">
      <hardware>
        <xacro:if value="${sim_gazebo_classic}">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:if>
        <xacro:unless value="${sim_gazebo_classic}">
          <plugin>hyy_hardware_interface/HyyHardwareInterface</plugin>
          <param name="device_mode">${device_mode}</param>
          <param name="sim_flag">${sim_flag}</param>
          <param name="system_arg">${system_arg}</param>
          <param name="if_add_axisgroups">${if_add_axisgroups}</param>
          <param name="if_add_external_device">${if_add_external_device}</param>
          <param name="external_device_dof">${external_device_dof}</param>
        </xacro:unless>
      </hardware>
      
      <xacro:macro name ="joint_interface" params="Joint_Name initial_pos initial_vel initial_effort">
        <joint name="${Joint_Name}">
            <command_interface name="position"/>
            <state_interface name="position">
                <param name="initial_value">${initial_pos}</param>
            </state_interface>

            <command_interface name="velocity"/>
            <state_interface name="velocity">
                <param name="initial_value">${initial_vel}</param>
            </state_interface>

            <command_interface name="effort"/>
            <state_interface name="effort">
                <param name="initial_value">${initial_effort}</param>
            </state_interface>
        </joint>
      </xacro:macro>

      <xacro:joint_interface Joint_Name="L-J1" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
      <xacro:joint_interface Joint_Name="L-J2" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
      <xacro:joint_interface Joint_Name="L-J3" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
      <xacro:joint_interface Joint_Name="L-J4" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
      <xacro:joint_interface Joint_Name="L-J5" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
      <xacro:joint_interface Joint_Name="L-J6" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
      <xacro:joint_interface Joint_Name="L-J7" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
      <xacro:joint_interface Joint_Name="R-J1" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
      <xacro:joint_interface Joint_Name="R-J2" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
      <xacro:joint_interface Joint_Name="R-J3" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
      <xacro:joint_interface Joint_Name="R-J4" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
      <xacro:joint_interface Joint_Name="R-J5" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
      <xacro:joint_interface Joint_Name="R-J6" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
      <xacro:joint_interface Joint_Name="R-J7" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>

      <xacro:if value= "${if_add_axisgroups}">
        <xacro:joint_interface Joint_Name="Body" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
        <xacro:joint_interface Joint_Name="J1" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
        <xacro:joint_interface Joint_Name="H-J1" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
        <xacro:joint_interface Joint_Name="H-J2" initial_pos="0.0" initial_vel="0.0" initial_effort="0.0"/>
      </xacro:if>

      <xacro:if value= "${if_add_external_device}">
        <xacro:macro name ="external_device_joint_interface" params="Joint_Name initial_pos ">
          <joint name="${Joint_Name}">
              <command_interface name="position"/>
              <state_interface name="position">
                  <param name="initial_value">${initial_pos}</param>
              </state_interface>
          </joint>
        </xacro:macro>
        <xacro:external_device_joint_interface Joint_Name="hand_joint1" initial_pos="0.0" />
        <xacro:external_device_joint_interface Joint_Name="hand_joint2" initial_pos="0.0" />
        <xacro:external_device_joint_interface Joint_Name="hand_joint3" initial_pos="0.0" />
        <xacro:external_device_joint_interface Joint_Name="hand_joint4" initial_pos="0.0" />
        <xacro:external_device_joint_interface Joint_Name="hand_joint5" initial_pos="0.0" />
        <xacro:external_device_joint_interface Joint_Name="hand_joint6" initial_pos="0.0" />
        <xacro:external_device_joint_interface Joint_Name="gripper_joint" initial_pos="0.0" />
      </xacro:if>

    </ros2_control>
  </xacro:macro>
</robot>
