<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="t1_robot">
    <!-- <xacro:arg name="initial_positions_file" default="initial_positions.yaml" /> -->
    
    <!-- <xacro:include filename="$(find t1_description)/urdf/t1_robot.urdf.xacro" />

    <xacro:include filename="t1_robot.ros2_control.xacro" /> -->

    <!-- <xacro:t1_robot_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->

</robot>
